.gap_32 {
  gap: 32px;
}
.NavList li a {
  font-size: var(--fs-sm);
  color: var(--clr-white);
  font-weight: 400;
  font-family: "Gilroy med";
}
.NavList li a:hover {
  -webkit-text-stroke: 0.5px;
}
.heroBG {
  background-image: url(./assets/img/webp/herobg.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.underline::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  border-radius: 3px;
  background: linear-gradient(133.72deg, #ff2801 -0.47%, #ff6500 90.6%),
    linear-gradient(95.99deg, #0075ff 1.34%, #0000ff 107.5%);
  bottom: -6px;
  left: 50%;
  transition: all 0.3s ease-in-out;
}
.underline:hover:after {
  width: 100%;
  left: 0;
}
.heroTextShadow {
  text-shadow: 0px 4.90939px 4.90939px rgba(0, 0, 0, 0.25);
}
.sec3Text_shadow {
  text-shadow: 0px 3px 3.03951px rgba(0, 0, 0, 0.25);
}
.lh_120 {
  line-height: 120%;
}
.z_51 {
  z-index: 51 !important;
}
.z_50 {
  z-index: 50 !important;
}
.siteLogo {
  max-width: 100px;
}
.transition3 {
  transition: all 0.3s ease-in-out;
}
/* Section 3 */
.maxW1920 {
  max-width: 1920px;
}
.bg_black_07 {
  background-color: var(--clr-black_07);
}
.lh_140 {
  line-height: 140%;
}
.bg_offWhiteE6 {
  background: var(--clr-offWhiteE6);
}
.cornerDesign::after {
  content: url(./assets/img/svg/secCornerDesign.svg);
  position: absolute;
  right: 3%;
  bottom: 3%;
}
.cornerDesign2::after {
  content: url(./assets/img/svg/secCornerDesignDark.svg);
  position: absolute;
  left: 3%;
  bottom: 3%;
}
.cornerDesign3::after {
  content: url(./assets/img/svg/secCornerDesign.svg);
  position: absolute;
  right: 3%;
  bottom: 3%;
}
/* HOVER IMAGES */
.hoverimg .shinehover {
  position: relative;
  overflow: hidden;
}
.hoverimg .shinehover::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: "";
  width: 0;
  height: 0;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}
.hoverimg .shinehover:hover::before {
  -webkit-animation: circle 0.75s;
  animation: circle 0.75s;
}
@-webkit-keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
@keyframes circle {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
/* preloader */
.d_flex {
  display: flex;
}
.z_1000 {
  z-index: 1000;
}
.bg_blurLoader {
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
}
.animationPreloader2 {
  animation: preloader1 3s ease 1 alternate;
}
@keyframes preloader1 {
  0% {
    width: 0;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 0%;
  }
}
.w_50 {
  max-width: 50px;
}
.TopButton {
  transition: all 0.3s ease-in-out;
}
.TopButton:hover {
  transform: scale(1.2);
}
.cursiorPointer {
  cursor: pointer;
}
.socialLinks {
  transform: rotate(270deg) translateY(-50%);
}
.socialLinks a{
  animation: changeColor 1s ease-in-out alternate infinite ;
}
@keyframes changeColor {
  0%{
    color: var(--clr-black_07);
  }
  100%{
    color: var(--clr-white);
  }
}
.LinksSocial::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 18px;
  top: 50%;
  right: -24px;
  transform: rotate(25deg) translateY(-50%);
  background-color: var(--clr-black_07);
}
.end_N155 {
  right: -155px;
}
.start_N125 {
  left: -125px;
}
@media (max-width: 575px) {
  .NavList {
    transition: all ease-in-out 0.5s;
    position: fixed;
    left: -100%;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(100px);
    transition: all 0.5s ease;
    width: 100%;
    height: 100vh;
    background-color: var(--clr-black_07);
  }
}
@media (min-width: 768px) {
  .siteLogo {
    max-width: 147px;
  }
  .maxW_md558 {
    max-width: 558px;
  }
  .end_N140 {
    right: -140px;
  }
  .start_N120 {
  left: -120px;
}
}
@media (min-width: 992px) {
  .lh_lg_170 {
    line-height: 170%;
  }
}
@media (min-width: 1200px) {
  .min_vh_lg_100 {
    min-height: 100vh;
  }
  .end_N70 {
    right: -70px;
  }
  .start_N70 {
    left: -70px;
  }
}
