*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
}
@font-face {
  font-family: "Gilroy bold";
  src: url(../src/assets/fonts/Gilroy-Bold.ttf);
}
@font-face {
  font-family: "Gilroy heavy";
  src: url(../src/assets/fonts/Gilroy-Heavy.ttf);
}
@font-face {
  font-family: "Gilroy light";
  src: url(../src/assets/fonts/Gilroy-Light.ttf);
}
@font-face {
  font-family: "Gilroy med";
  src: url(../src/assets/fonts/Gilroy-Medium.ttf);
}
.ff_medium {
  font-family: "Gilroy med";
}
.ff_light {
  font-family: "Gilroy light";
}
.ff_heavy {
  font-family: "Gilroy heavy";
}
.ff_bold {
  font-family: "Gilroy bold";
}
:root {
  --fs-3xl: 136px;
  --fs-2xl: 123px;
  --fs-xl: 65px;
  --fs-lg: 45px;
  --fs-md: 20px;
  --fs-sm: 16px;
  --fs-xsm: 14px;
  /* color */
  --clr-white: #ffffff;
}
.fw_400 {
  font-weight: 400;
}
.fw_500 {
  font-weight: 500;
}
.fw_600 {
  font-weight: 600;
}
.fw_700 {
  font-weight: 700;
}
.fw_800 {
  font-weight: 800;
}
.fw_900 {
  font-weight: 900;
}
/* color */
.clr_white {
  color: var(--clr-white);
}
/* font_size */
.fs_3xl {
  font-size: var(--fs-3xl);
}
.fs_2xl {
  font-size: var(--fs-2xl);
}
.fs_xl {
  font-size: var(--fs-xl);
}
.fs_lg {
  font-size: var(--fs-lg);
}
.fs_md {
  font-size: var(--fs-md);
}
.fs_sm {
  font-size: var(--fs-sm);
}
.fs_xsm {
  font-size: var(--fs-xsm);
}
